* {
  box-sizing: border-box;
}

header, main, footer {
  background: rgb(250, 245, 240);
  /* color: rgb(250, 240, 230); */
}

p {
}

#main {

}
#title {

}
#gallery {

}
#image {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}
#img-caption {

}
#tribute-info {

}
