* {
  box-sizing: border-box;
  margin: 0 auto;
}

header, main, footer {
  /* background: rgb(250, 230, 240); */
  margin: 1rem 0;
}

body{
  /* background-color: #F5F5F5; */
  color:rgb(31, 41, 51);
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

#main{
  /* border-radius: 5px; */
  /* background: #eee;  */
}

#title{
  font-weight: bold;
  /* font-size: 5rem; */
  color:#275953;
  padding: 2rem;
  line-height: 3rem;
}

#p-title{
  /* margin-top: -20px; */
  font-style: italic;
}

#img-div{
  /* background-color:rgb(255, 214, 214); */
  margin: 0 auto;
  /* padding: 0px; */
  /* border-radius: 10px; */
  border-radius: 20px;
  max-width: 90%;
  /* overflow: hidden; */
  /* margin: 0 auto; */
}

#image{
  border-radius: 20px;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  /* padding: 20px 0; */
}

#img-caption{
  /* font-size: 14px; */
  font-style: italic;
}

#autobio{
  color:#275953;
  margin-top: 10px;
  padding: 1rem;
}

ul{
  /* font-size: 14px; */
}

#tribute-info {
  height: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  /* grid-template-columns: 1fr 1fr; */
  max-width: 1000px;
  margin: 0 auto;
  text-align: justify;
}

.container{
  background: 
  linear-gradient(217deg, rgba(255,0,0,.1), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.1), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.1), rgba(0,0,255,0) 70.71%);  /* border: 2px solid #275953; */
  border-radius: 20px;
  max-width: 700px;
  overflow: hidden;
  margin: 0 auto;
}

.container > p{
  padding: 20px;
}
.tribute-img{
  max-width: 100%;
  border-radius: 20px;
  margin: 0 auto;
}

.img-caption{
  /* font-size: 14px; */
  font-style: italic;
  text-align: center;
  /* background-color: antiquewhite; */
}

#quote{
  font-size: 0.8rm; 
  margin: 20px auto;
  padding: 1rem;
}


a{
  text-decoration: underline;
  color:#003E9C;  
}
a:hover{
  color:#732828;
}
@media (max-width: 320px) {
  #tribute-info {
    width: 100%;
  }
}  
@media  (max-width: 850px) {
  #tribute-info{
    grid-template-columns: 2fr;  
    width: 100%;
  }
}  